# Build Results
.vs/
x64/
x86/
[Bb]in/
[Dd]ebug/
[Ll]og
[Oo]bj/
[Rr]elease/

# MSTest Test Results
[Tt]est[Rr]esults*/
[Bb]uild[Ll]og.*/

# Various File Suffixes
*.dll
*.exe
*.meta
*.obj
*.pdb
*.pgc
*.pgd
*.svclog
*.temp*
*.tmp*

# Generated Documentation and Code Coverage Reports
[Dd]ocs/[Hh][Tt][Mm][Ll]/
[Dd]ocs/[Xx][Mm][Ll]/
[Cc]overage/
_build/

# pycache
__pycache__/
